<div id="main" class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
  <div id="header" class="grid grid-cols-3 items-center p-2 md:p-4 gap-x-2 md:gap-x-4"
    style="background-color: #010d20;">

    <div class="flex items-center justify-self-start">
      <a routerLink='/'><img src="/logo.svg" alt="Logo" class="h-14 md:h-13 w-auto flex-shrink-0"></a>
    </div>


    <div class="w-full max-w-sm md:max-w-md lg:max-w-lg justify-self-center">
      <input type="text" placeholder="Buscar" class="rounded-lg text-gray-800 bg-white h-8 md:h-9 px-3 w-full
                      hidden md:block
                      text-center placeholder:text-center
                     " />
      <button class="text-white p-2 md:hidden justify-center flex w-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
      </button>
    </div>


    <div class="flex items-center justify-self-end">
      <img src="/user_icon.svg" alt="User" width="24" height="24" class="flex-shrink-0" />
      <img src="/cart_icon.svg" alt="Cart" width="24" height="24" class="ml-2 md:ml-4 flex-shrink-0" />
    </div>

  </div>

  <div id="content" class="flex flex-col items-center">
    <router-outlet />
  </div>

  <div id="footer" class="bg-[#010d20] text-white pt-12 pb-8">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mb-8">
        <div>
          <h4 class="font-bold text-lg mb-3">Lorem ipsum</h4>
          <ul class="space-y-2">
            <li><a href="#" class="text-sm hover:underline">• Lorem ipsum</a></li>
            <li><a href="#" class="text-sm hover:underline">• dolor sit amet</a></li>
            <li><a href="#" class="text-sm hover:underline">• In dolor debet</a></li>
          </ul>
        </div>

        <div>
          <h4 class="font-bold text-lg mb-3">Lorem ipsum</h4>
          <ul class="space-y-2">
            <li><a href="#" class="text-sm hover:underline">• Lorem ipsum</a></li>
            <li><a href="#" class="text-sm hover:underline">• dolor sit amet</a></li>
          </ul>
        </div>

        <div>
          <h4 class="font-bold text-lg mb-3">Lorem ipsum</h4>
          <ul class="space-y-2">
            <li><a href="#" class="text-sm hover:underline">• Lorem ipsum</a></li>
            <li><a href="#" class="text-sm hover:underline">• dolor sit amet</a></li>
          </ul>
        </div>

      </div>
      <div class="border-t border-gray-700 pt-6 text-center">
        <p class="text-xs text-gray-400"> PaquiRobles.es Todos los derechos reservados
        </p>
      </div>

    </div>
  </div>
</div>