<div class="container mx-auto px-4 py-8">
  <app-breadcrumbs [items]="BreadCrumb"></app-breadcrumbs>
  <br>
  @if (loading) {
  <div class="flex justify-center items-center h-64">
    <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-blue-500"></div>
  </div>
  } @else if (error) {
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
    {{ error }}
  </div>
  } @else if (producto) {
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="space-y-4">
      @if (producto.image_1920) {
      <img src="data:image/png;base64,{{ producto.image_1920 }}" [alt]="producto.name"
        class="w-full rounded shadow-md" />
      } @else {
      <div class="bg-gray-200 h-80 w-full flex items-center justify-center">
        <span class="text-gray-500">Imagen no disponible</span>
      </div>
      }
    </div>
    <div class="bg-white p-6 rounded-lg shadow-sm border border-gray-100">
      <h1 class="text-2xl font-semibold text-gray-800 mb-2">{{ producto.name }}</h1>
      <div class="my-4">
        <div class="">
          <span class="text-2xl font-light text-gray-900">{{ producto.list_price | currency:'EUR':'symbol':'1.0-0'
            }}</span>
          <br>
          <span class="text-xl font-light underline">IVA (21%) incluido </span>
        </div>
      </div>
      <hr class="border-gray-200 my-4" />
      <button (click)="anadirAlCarrito()"
        class="w-full bg-indigo-600 text-white py-3 px-4 rounded hover:bg-indigo-700 transition duration-300">
        AÑADIR AL CARRITO
      </button>
      <div class="my-4">
        <div>
          <span class="text-lg font-light text-gray-900">Medidas: {{ medidas }}</span>
          <br>
          <span class="text-lg font-light text-gray-900">Estilo: {{ estilo }}</span>
          <br>
          <span class="text-lg font-light text-gray-900">Soporte: {{ soporte }}</span>
        </div>
      </div>

    </div>
  </div> }
  <div class="mt-16">
    <h2 class="text-xl font-semibold text-gray-800 mb-6 text-center">Puede que también te guste...</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
      @for (productoRel of productosRelacionados; track productoRel.id) {
      <app-producto [id]="productoRel.id" [nombre]="productoRel.name" [precio]="productoRel.list_price.toString()"
        [imageSrc]="productoRel.image_512"></app-producto>
      }
    </div>
  </div>
</div>